.customer h1{
    background-color: #360AFF;
    color: white;
    font-weight: 600;
    font: 35px;
    text-align: center; 
    width: 90vw;
  
}
.customer{
    width: 90vw;
    height: 85px;
    

}
.customer h1{
    font-size:35px ;
    font-weight: 600;
    
    
}

.overallRatings{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 305px;
    
}


hr{
    margin-top: 20px;
    border:1px solid #360AFF;
    width: 90vw;
}
.reviews{
    display: flex;
    width: 90vw;
}

.firstReview{
    display: flex;
    width: 700px;
    height: 300px;
    gap: 44px;
    border: 1px solid #e9e6ff ;
    justify-content: center;
    align-items: center;
}
.reviewText{
    width: 280px;
}
.reviewText p{
    color: #360AFF;
}
.reviewText span{ 
    color: #360AFF;
    margin-left: 190px;
}
.reviewName{
    width: 83px;
    height: 121px;
    color: #360AFF;
    font-weight: 700;
}
.aboutUs{
    width: 1000px;
}
.aboutUS h1{
    font-size: 35px;
    font-weight: 600;
    margin-left: 20px;
   background-color: #360AFF; 
   color: white;
   text-align: center;
   height: 50px;
}
.aboutOne{
    display: flex;
    gap: 250px;
    justify-content: center;
    align-items: center;
}
.about{
    width: 400px;
}
.about h2{
    color: #360AFF;
}
.aboutTwo{
    display: flex;
    gap: 250px;
    justify-content: center;
    align-items: center
}

@media screen and (max-width: 768px) {
    .customer h1 {
        font-size: 30px; 
    }

    .customer {
        height: 60px; 
        }

    .overallRatings {
        gap: 20px; 
    }

    .firstReview {
        width: 50%; 
        flex-direction: column;
        gap: 20px;
        height: auto; 
    }
.overallRatings {
    display: flex;
    flex-direction: column;
    
}
    .reviewText {
        width: 80%; 
        }

    .reviewText span {
        margin-left: 0; 
        margin-top: 5px; 
        display: block; 
    }

    .aboutOne,
    .aboutTwo {
        flex-direction: column; 
        gap: 10px; 
    }

    .about {
        width: 70%; 
        max-width: 80%; 
        }
}
@media screen and (min-width: 728px) and (max-width: 1024px) {
    .customer h1 {
        font-size: 30px; 
    }

    .customer {
        height: 60px; 
    }

    .overallRatings {
        gap: 20px; 
    }

    .firstReview {
        width: 100%; 
        flex-direction: column; 
        gap: 20px; 
        height: auto; 
    }

    .reviewText {
        width: 100%; 
    }

    .reviewText span {
        margin-left: 0; 
        margin-top: 5px; 
        display: block; 
    }

    .aboutOne,
    .aboutTwo {
        flex-direction: column; 
        gap: 10px; 
    }

    .about {
        width: 100%; 
        max-width: 100%; 
    }
}
