.transferOne{
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 30px;
}
.transferOne p:first-child{
    color: #2000b2;
    font-weight: 600;
    margin-right: 45px;
    margin-top: 40px;
}
.transferOne span{
    font-size: 10px;
}
.transferOne p:last-child{
    color: #360AFF;
    font-size: 12px;
    font-weight: 500;
  
}
.transfer{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.transfer h3{
    width: 550px;
    font-size: 20x;
    font-weight: 600;
    text-align: center;
    margin-left: 400px;
    margin-top: 30px;
    
}
.transferThree{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin-left: 100px;
}
.transferThree p:first-child{
    color: #939393;
    font-size: 13px;
}
.transferThree p:last-child{
    color: #2000b2;
    font-size: 15px;
    font-weight: 600;
}
.transferThree span{
    font-size: 10px;
}
.ruler{
    border-bottom: 1px solid #939393;
    width: 1100px;
    margin-left: 100px;
}
.transferPay{
    width: 400px;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 20px;
}
.transferPayButton{
    background-color: #2000b2;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
}
.transPay{
   
    color: #2000b2 ;
    font-weight: 500;
}
.transPay button{
    color: #bdbdbd;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
    .transferOne {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .transferOne p:first-child {
      margin-right: 0;
      margin-top: 0;
      text-align: center;
    }
  
    .transferOne p:last-child {
      text-align: center;
    }
  
    .transfer h3 {
      width: 90%;
      margin-left: 5%;
      margin-top: 2%;
    }
  
    .transferThree,
    .ruler {
      width: 90%;
      margin-left: 5%;
    }
  
    .transferPay {
      width: 90%;
      margin-left: 5%;
      margin-top: 2%;
    }
  
    .transPay button {
      margin-bottom: 2%;
    }
  }

  /* Media queries for viewport width of 728px to 1024px */
@media screen and (min-width: 728px) and (max-width: 1024px) {
    .transferOne {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-right: 5%;
      margin-left: 5%;
    }
  
    .transferOne p:first-child {
      margin-right: 0;
      margin-top: 0;
      text-align: center;
    }
  
    .transferOne p:last-child {
      text-align: center;
    }
  
    .transfer h3 {
      width: 90%;
      font-size: 18px; /* Adjust font size as needed */
      margin-left: 5%;
      margin-top: 20px; /* Adjust margin as needed */
    }
  
    .transferThree,
    .ruler {
      width: 90%;
      margin-left: 5%;
    }
  
    .transferThree p:first-child {
      font-size: 12px; /* Adjust font size as needed */
    }
  
    .transferThree p:last-child {
      font-size: 14px; /* Adjust font size as needed */
    }
  
    .transferPay {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px; /* Adjust margin as needed */
    }
  
    .transPay button {
      margin-bottom: 20px; /* Adjust margin as needed */
    }
  }
  